<!-- <form action= "/birthday-form" method= "post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<html>
<body> -->



<form action="/birthday-form">
  What's your name:<br>
  <input type="text" name="name" value="Tameka">
  <br>
  day:<br>
  <input type="text" name="day" value="1">
  <br><br>
  <br>
  month:<br>
  <input type="text" name="month" value="10">
  <br><br>
  <input type="submit" value="GO!">
</form>

</body>
</html>
