<html>
<body>
  <body style="background-color:powderblue;">
<div>
    <h1> Hello There </h1>
</div>
<br>
<br>
<br>
<form>
  <p> What's your name? </p>
    <input type="text" What's your name="name" value="Tameka">

    <p>day:</p>
<input type="text" name="day" value="1">
<p>month:</p>
  <select name="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  <br>
    <br>
      <br>
<input type="submit" value="GO!">
</form
</body>
</html>
